langchain
langchain-google-genai
langchain-core
python-dotenv
streamlit
docling
google-genai
google-cloud-aiplatform
sqlalchemy
PyPDF2
langchain_community
unstructured
pdfminer.six
pi_heif
unstructured_inference
pdf2image
unstructured_pytesseract